/* @font-face {
  font-family: fontName;
  src: url(/src/assets/Meta\ Serif\ Book.otf);
}

#root {
  font-family: fontName;
  position: relative;
} */

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: rgba(5,150,105,.05); */
  font-family: 'Ubuntu', sans-serif;
}
